*{
    margin: 0;
    padding: 0;
    @import url(https://fonts.googleapis.com/css?family=Poppins:200,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

}
body{
    background-color: #212121;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.main-heading{
    background-color: black;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;    
}
.main-box{
    min-height: 45vh;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 18px;
    justify-content: space-around;
    background-color: #414141;
    
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.subtn{
    font-size: 22px;
    padding:  8px 28px ;
}
.guessfield{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 8px 18px;
}
.parse-result{
    font-size: 22px;
    font-weight: bolder;
}
